<!DOCTYPE html>
<html>
<head>
    <title>Choix de Sujet</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>Forum de Discussion</h1>
        <div class="buttons">
            <a class="button" id="home" href="mainpage.html"><img src="../../Icons/home.png" alt="Home"></a>
            <a class="button" id="createpost" href="createpost.html"><img src="../../Icons/createpost" alt="createpost"></a>
            <a class="button" id="night-mode-toggle"><img src="../../Icons/connexion_night.png" alt="Mode Nuit"></a>
            <a class="button" id="contact" href="contact.html"><img src="../../Icons/contact.png" alt="contact"></a>
            
        </div>
    </header>

    <div class="container">
        <div class="topics">
            <div class="topic">
                <h2>Est-ce que le cheval blanc d'Henry 4 était pas noir ?</h2>
                <a href="discussion.html" class="join-button">Rejoindre</a>
            </div>

            <div class="topic">
                <h2>J'ai pas encore perdu mon glant de lait est-ce normal</h2>
                <a href="discussion.html" class="join-button">Rejoindre</a>
            </div>

            <div class="topic">
                <h2>Faut-il que j'ai peur de ma mère, lorsqu'elle me dit : "Dépêche-toi de rentrer" ?</h2>
                <a href="discussion.html" class="join-button">Rejoindre</a>
            </div>
        </div>

        <div class="info-panel">
            <div class="card">
                <div class="card-header">Info</div>
                <div class="card-body">
                    <h4 class="info-title">GESTION DU FORUM</h4>
                    <div class="info-content">
                        Modérateurs :
                        <span class="moderators-list">
                            Aziz_beaudelaire, Jordan, Ethan
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
