<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Error 404 - Page not found</title>
  <link rel="stylesheet" href="../css/erro404.css">
</head>
<body>
  <div class="error-container">
    <h1>Error 4<img src="https://wompampsupport.azureedge.net/fetchimage?siteId=7575&v=2&jpgQuality=100&width=700&url=https%3A%2F%2Fi.kym-cdn.com%2Fphotos%2Fimages%2Fnewsfeed%2F001%2F323%2F085%2F7fd.jpg" alt="404 Image">4</h1>
    <p>Page not found</p>
	<a href="/login_page.html">Return to Home Page</a>
  </div>
</body>
</html>

