<!DOCTYPE html>
<html>
<head>
  <title>Page de conversation</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <header>
    <div class="logo">
      <img src="logo.png" alt="Logo">
    </div>
    <nav class="navigation">
      <a href="#">Accueil</a>
      <a href="#">Forum</a>
      <a href="#">Profil</a>
      <button class="btnLogin-popup">Se connecter</button>
    </nav>
  </header>

  <div class="sidebar"></div>

  <div class="message-container">
    <div class="message bot-message">
      <span>Bienvenue dans la conversation!<br>
        Veuillez utiliser un langage correct lorsque vous dialoguez avec la communauté
      </span>
      <div class="message-info">Gilbert - 02/06/2023 14:02</div>
    </div>
  </div>

  <div class="input-container">
    <input type="text" class="message-input" id="user-input" placeholder="Saisissez votre message">
    <div class="profile-pic-div">
      <img id="photo" class="preview" src="" alt="Image sélectionnée">
      <input type="file" id="file" accept="image/*">
      <button id="uploadBtn" style="display: none;">Upload</button>
    </div>
    <button class="send-button" onclick="sendMessage()">Envoyer</button>
  </div>

  <div class="wrapper">
    <div class="form-box login">
      <h2>Connexion</h2>
      <div class="input-box">
        <input type="text" id="username" required>
        <label>Nom d'utilisateur</label>
        <i class="icon fas fa-user"></i>
      </div>
      <div class="input-box">
        <input type="password" id="password" required>
        <label>Mot de passe</label>
        <i class="icon fas fa-lock"></i>
      </div>
      <div class="remember-forgot">
        <label>
          <input type="checkbox">
          Se souvenir de moi
        </label>
        <a href="#">Mot de passe oublié ?</a>
      </div>
      <button class="btn">Se connecter</button>
      <div class="login-register">
        <p>Vous n'avez pas de compte ? <a href="#">S'inscrire</a></p>
      </div>
    </div>
    <div class="form-box register">
      <h2>Inscription</h2>
      <div class="input-box">
        <input type="text" id="username" required>
        <label>Nom d'utilisateur</label>
        <i class="icon fas fa-user"></i>
      </div>
      <div class="input-box">
        <input type="email" id="email" required>
        <label>Adresse e-mail</label>
        <i class="icon fas fa-envelope"></i>
      </div>
      <div class="input-box">
        <input type="password" id="password" required>
        <label>Mot de passe</label>
        <i class="icon fas fa-lock"></i>
      </div>
      <div class="input-box">
        <input type="password" id="confirm-password" required>
        <label>Confirmer le mot de passe</label>
        <i class="icon fas fa-lock"></i>
      </div>
      <button class="btn">S'inscrire</button>
      <div class="login-register">
        <p>Vous avez déjà un compte ? <a href="#">Se connecter</a></p>
      </div>
    </div>
    <div class="icon-close">
      <i class="fas fa-times"></i>
    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>
