<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Website with login and registration</title>
  <link rel="stylesheet" href="../css/mainpage.css">
</head>
<body>
  <header>
    <h2 class="logo"><img src="../../static/images/PDP.jpg" onclick="openSidebar()"></h2>
    <nav class="navigation">
      <a href="mainpage.html">Home</a>
      <a href="choicesubject.html">Posts</a>
      <a href="contact.html">Contact us</a>
    </nav>
  </header>
</body>
</html>
