<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Website with login and registration</title>
  <link rel="stylesheet" href="../css/mainpage.css">
</head>
<body>
  <header>
    <h2 class="logo"><img src="../../static/images/PDP.jpg" onclick="openSidebar()"></h2>
    <nav class="navigation">
        <a class="button" id="home" href="mainpage.html"><img src="../../Icons/home.png" alt="Home"></a>
        <a class="button" id="contact" href="choicesubject.html"><img src="../../Icons/choosesubject" alt="subject"></a>
        <a class="button" id="contact" href="contact.html"><img src="../../Icons/contact.png" alt="contact"></a>
    </nav>
  </header>
</body>
</html>
